<!DOCTYPE html>
<html>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<head>
  <title>CountMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-header">
    <h1>CountMe</h1>

   <%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE', :class => "btn btn-danger" %>
     </div>
<%= yield %>

</body>
</html>
