<h1>Voter#index</h1>
<p>Find me in app/views/voter/index.html.erb</p>
 <%= @voters.each do |i| %>
   <%= i.id  %>
   <%= i.name_f %>
   <%= i.name_l %>
   <%= i.address %>
   <%= i.city %>
   <%= i.state %>
   <%= i.zip %>
   <%= i.api_id %>
   <%= i.devise_id %>
 <% end %>

<p>
   Current User:
</p>
<%= current_user.id %>
<%= current_user.email %>

 <%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE' %>
 <%= link_to 'Fill In Your Information', new_voter_path, method: 'GET' %>
