<h1>Voter#show</h1>
<p>Find me in app/views/voter/show.html.erb</p>

<%= @voter.id  %>
<%= @voter.name_f %>
<%= @voter.name_l %>
<%= @voter.address %>
<%= @voter.city %>
<%= @voter.state %>
<%= @voter.zip %>
