
%body
  .navbar.navbar-default
    .container-fluid
      .navbar-header
        %a{ class:"navbar-brand", href:"/voter_info"}
          = image_tag( 'check-box.png', :class => "navbar-brand")
        .button{ type:"button", class:"navbar-toggle collapsed", "data-toggle"=>"collapse", "data-target"=>"#bs-example-navbar-collapse-1", "aria-expanded"=>"false"}
          .span{ class:"sr-only"}
            Toggle navigation
          .span{ class:"icon-bar"}
          .span{ class:"icon-bar"}
          .span{ class:"icon-bar"}
      <!-- Collect the nav links, forms, and other content for toggling -->
      .collapse.navbar-collapse{ id:"bs-example-navbar-collapse-1"}
        .nav.navbar-nav
          %li{ class:"active"}
            %a{ href:"#"}
              Link
              .span{ class:"sr-only"}
                (current)
          %li
            %a{ href:"#"}
              Link
          %li{ class:"dropdown"}
            %a{ href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown", role:"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              Dropdown
              .span{ class:"caret"}
            %ul{ class:"dropdown-menu"}
              %li
                %a{ href:"#"}
                  Action
              %li
                %a{ href:"#"}
                  Another Action
              %li
                %a{ href:"#"}
                  Something else here
              %li{ role:"separator", class:"divider"}
              %li
                %a{ href:"#"}
                  Separated Link
              %li{ role:"separator", class:"divider"}
              %li
                %a{ href:"#"}
                  One More Separated Link
        %form{ class:"navbar-form navbar-left", role:"search"}
          .form-group
            %input{ type:"text", class:"form-control", placeholder:"Search"}
          .button{ type:"submit", class:"btn btn-default"}
            Submit
        %ul{ class:"nav navbar-nav navbar-right"}
          %li{class:'dropdown'}
            %a{ href:"#"}
              Link
          %li{ class:"dropdown"}
            %a{ href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown", role:"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              Dropdown
              .span{ class:"caret"}
          %ul{ class:"dropdown-menu"}
            %li
              %a{ href:"#"}
                Action
            %li
              %a{ href:"#"}
                Another Action
            %li
              %a{ href:"#"}
                Something else here
            %li{ role:"separator", class:"divider"}
            %li
              %a{ href:"#"}
                Separated Link
  .container
    .panel.panel-default
      .panel-body
        = form_tag( :html => {:class => 'input-group'}) do
          .row.name
            .col-sm-4
              Name:
              = text_field(:user, :name,class:"form-control",placeholder:"Full Name")
          .row.adress
            .col-sm-12
              Address:
              =text_field(:user, :street_adress,class:"form-control",placeholder:"Address")
          .row.adress2
            .col-sm-6
              City:
              =text_field(:user, :city,class:"form-control",placeholder:"City")
            .col-sm-2
              State:
              =text_field(:user, :state,class:"form-control",placeholder:"State")
            .col-sm-4
              Zip Code:
              =text_field(:user, :zip_code,class:"form-control",placeholder:"Zip Code")
          .row.birthday_registered
            .col-sm-6
              Birthdate:
              = date_field(:user, :born_on,class:"form-control",placeholder:"MM/DD/YYYY")
            .col-sm-6.registered_checkbox
              = check_box_tag(:registered)
              = label_tag(:registered, "I am already registered to vote.")
          .row.submit
            .col-sm-4.submit
              %input{type:"submit",class:"btn",value:"Submit"}
